@charset "UTF-8";
html {
    height: 100%;
    width: 100%;
}

body {
    background: url("https://images.unsplash.com/photo-1541354329998-f4d9a9f9297f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Droid Serif', serif;
}



.hea{
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    height: 3rem;
    background: rgba(3, 3, 55, 0.7);
    font-size: 1.4rem;
    color: #d3d3d3;
}

fieldset {
    border: 0;
    text-align: center;
}

input[type="submit"] {
    background: rgba(235, 30, 54, 1);
    border: 0;
    display: block;
    width: 70%;
    margin: 0 auto;
    color: white;
    padding: 0.7rem;
    cursor: pointer;
}

input {
    background: transparent;
    border: 0;
    border-left: 4px solid;
    border-color: #FF0000;
    padding: 10px;
    color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    background: rgba(235, 30, 54, 0.3);
    border-radius: 1.2rem;
    border-color: transparent;
}

::placeholder {
    color: #d3d3d3;
}

/*Media queries */

@media all and (min-width: 481px) and (max-width: 568px) {
    #container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
    @media all and (min-width: 569px) and (max-width: 768px) {
        #container {
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }

    
.btn-1:link,
.btn-1:visited{
  background: #00FFA6;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 200;
  color: white;
  border-radius: 200px;
  padding: 8px 18px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  }
   .btn-2:link,
   .btn-2:visited{
   border: 1px solid  #00FFA6;
   margin-right: 1rem;
   text-decoration: none;
   font-weight: 200;
   color: white;
   border-radius: 200px;
   padding: 8px 18px;
   transition: background-color 0.2s, border 0.2s, color 0.2s;
    }
    .btn-1:hover,
    .btn-1:ve,
    .btn-2:hover,
    .btn-3:active{
     background-color:#cf6d17;
    }
  /* ```````````````````````````````````````````````` */
  /* Header*/
  /* ```````````````````````````````````````````````` */
  #showcase
  {
  background:  linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(./art.jpg) no-repeat center center/cover;
  height: 8rem;
  color:white;
 width: 100vw;
 margin-top : -10px;
 margin-left:-8px;
  }
  #showcase .nav-tool{
    position: absolute;
    top:0 ;
    left: 0;
    right:0;
    bottom:0;
  }
  #showcase .showcase-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 50%;
    top:0 ;
    left: 0;
    right:0;
    bottom: 0;
    margin-top:-5rem;
  }
  /* `````````````````````````````````````````````````*/
  /* Navigation bar*/
  /* ```````````````````````````````````````````````` */
  .main-nav{
    display: flex;
    justify-content:flex-end ;
    list-style: none;
    margin-bottom: 7rem;
   margin-top:-80px;
  }
  .main-nav li  a:visited,
  .main-nav li a:link{
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;
    padding: 0.4rem 0;
    text-transform: uppercase;
  font-size: 85%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  }
  .main-nav li  a:hover,
  .main-nav li a.active{
    border-bottom: 2px solid #00FFA6;
  }
  .logo img{
    padding: 1rem;
    height:150px;
  }
.clr{
    clear:both;
}


body {
    background: url("https://images.unsplash.com/photo-1541354329998-f4d9a9f9297f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Droid Serif', serif;
}
.signup{
  font-size: 20px;
   background: transparent;
    border: 0;
    margin : 10px;
    padding: 10px;
    color: white;
}
.banner {
    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0,0,0.5)), url(https://images.unsplash.com/photo-1528255671579-01b9e182ed1d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjEwNjUyOTI&ixlib=rb-1.2.1&q=80);
    background-size: cover;
    background-position: center;
}
.navebar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
/*   cursor: pointer; */
/*   background-color: #FFEA11; */
  margin-left: 5px;
}

.navebar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
   /*padding: 0 20px; */
    position: relative; 

}

.navebar ul li a {
    text-decoration: none;
    color:#FFEA11;
    text-transform: capitalize;
}

.navebar ul li::after{
    content: '';
    height: 2px;
    width: 0; /*100% */
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.navebar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin-top: 80px;
     
}
.content p {
    margin: 20px auto;
    font-weight: 140;
    line-height: 25px;
    
}
#container {
    background: rgba(3, 3, 55, 0.5);
    width: 50rem;
    height: 25rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:25px;
}
button {
    
    width: 25rem;
    height: 45px;
    padding: 10px 15px;
    text-align: center;
    margin: 30px 50px;
    border-radius: 25px;
    font-weight: 100px;
    border: 3px solid #009688;
    background: transparent;
    color:  #FFEA11;
    cursor: pointer;
    position:relative;
    overflow: hidden;
    
}

span {
    text-align: center;
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    

}
#container {
    background: rgba(3, 3, 55, 0.5);
    width: 70rem;
    height: 23rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:25px;
    padding-top:30px;
}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}