
@charset "UTF-8";html {
    height: 100%;
    width: 100%;
     padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url("https://images.unsplash.com/photo-1541354329998-f4d9a9f9297f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Droid Serif', serif;
}
.signup{
  font-size: 20px;
   background: transparent;
    border: 0;
    margin : 10px;
    padding: 10px;
    color: white;
}
.banner {
    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0,0,0.5)), url(https://images.unsplash.com/photo-1528255671579-01b9e182ed1d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjEwNjUyOTI&ixlib=rb-1.2.1&q=80);
    background-size: cover;
    background-position: center;
}
.navebar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
/*   cursor: pointer; */
/*   background-color: #FFEA11; */
  margin-left: 5px;
}

.navebar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
   /*padding: 0 20px; */
    position: relative; 

}

.navebar ul li a {
    text-decoration: none;
    color:#FFEA11;
    text-transform: capitalize;
}

.navebar ul li::after{
    content: '';
    height: 2px;
    width: 0; /*100% */
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.navebar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin-top: 80px;
     
}
.content p {
    margin: 20px auto;
    font-weight: 140;
    line-height: 25px;
    
}
#container {
    background: rgba(3, 3, 55, 0.5);
    width: 50rem;
    height: 25rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:25px;
}
button {
    
    width: 150px;
    height: 40px;
    padding: 10px 5px;
    text-align: center;
    margin: 25px 12px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:  #FFEA11;
    cursor: pointer;
    position:relative;
    overflow: hidden;
    
}

span {
    text-align: center;
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    

}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}