@charset "UTF-8";
html {
    height: 100%;
    width: 100%;
}

body {
    background: url("https://images.unsplash.com/photo-1541354329998-f4d9a9f9297f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Droid Serif', serif;
}

#container {
    background: rgba(3, 3, 55, 0.5);
    width: 30rem;
    height: 25rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:25px;
    padding:10px;
}

.hea {
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    height: 3rem;
    background: rgba(3, 3, 55, 0.7);
    font-size: 2.0rem;
    color: #d3d3d3;
    margin:10px;
    border-radius:20px;
    font-size:40px;
}

fieldset {
    border: 0;
    text-align: center;
}

input[type="submit"] {
    background: rgba(235, 30, 54, 1);
    border: 0;
    display: block;
    width: 70%;
    margin: 0 auto;
    color: white;
    padding: 0.7rem;
    cursor: pointer;
}

input {
    background: transparent;
    border: 0;
    border-left: 4px solid;
    border-color: #FF0000;
    padding: 10px;
    color: white;
    font-size:20px;
    margin:10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    background: rgba(235, 30, 54, 0.3);
    border-radius: 1.2rem;
    border-color: transparent;
}

::placeholder {
    color: #d3d3d3;
}

/*Media queries */

@media all and (min-width: 481px) and (max-width: 568px) {
    #container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
    @media all and (min-width: 569px) and (max-width: 768px) {
        #container {
            margin-top: 5%;
            margin-bottom: 5%;
        }
        
    }
 .signup{
  font-size: 20px;
   background: transparent;
    border: 0;
    margin : 10px;
    padding: 10px;
    color: white;
}
.wrapper {

    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6.25em;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #000000;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.content {
    width: 1000px;
    border: 1px solid #ff0000;
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
}


   .btn-1:link,
   .btn-1:visited{
  background: #00FFA6;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 200;
  color: white;
  border-radius: 200px;
  padding: 8px 18px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  }
   .btn-2:link,
   .btn-2:visited{
   border: 1px solid  #00FFA6;
   margin-right: 1rem;
   text-decoration: none;
   font-weight: 200;
   color: white;
   border-radius: 200px;
   padding: 8px 18px;
   transition: background-color 0.2s, border 0.2s, color 0.2s;
    }
    .btn-1:hover,
    .btn-1:ve,
    .btn-2:hover,
    .btn-3:active{
     background-color:#cf6d17;
    }
  /* ```````````````````````````````````````````````` */
  /* Header*/
  /* ```````````````````````````````````````````````` */
  #showcase
  {
  background:  linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(./art.jpg) no-repeat center center/cover;
  height: 8rem;
  color:white;
 width: 100vw;
 margin-top : -10px;
 margin-left:-8px;
  }
  #showcase .nav-tool{
    position: absolute;
    top:0 ;
    left: 0;
    right:0;
    bottom:0;
  }
  #showcase .showcase-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 50%;
    top:0 ;
    left: 0;
    right:0;
    bottom: 0;
    margin-top:-5rem;
  }
  /* `````````````````````````````````````````````````*/
  /* Navigation bar*/
  /* ```````````````````````````````````````````````` */
  .main-nav{
    display: flex;
    justify-content:flex-end ;
    list-style: none;
    margin-bottom: 7rem;
   margin-top:-80px;
  }
  .main-nav li  a:visited,
  .main-nav li a:link{
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;
    padding: 0.4rem 0;
    text-transform: uppercase;
  font-size: 85%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  }
  .main-nav li  a:hover,
  .main-nav li a.active{
    border-bottom: 2px solid #00FFA6;
  }
  .logo img{
    padding: 1rem;
    height:150px;
  }
.clr{
    clear:both;
}

